@import "../vars";
@import "../mixins";

.section-outer {
  &.section-footer {
    border-bottom: none;
    .section-inner {
      padding-top: $padding-vertical-sm;
      padding-bottom: $padding-vertical-sm;
    }
    .main-navigation {
      &__inner-wrap {
        @include breakpoint(tablet) {
          display: flex;
          flex-direction: column;
          justify-content: center;
          margin-left: 0;
        }
      }
      @media (max-width: 540px) { 
        .nav-wrapper {
         flex-direction: column;
         align-items: center;
         &__item {
           margin:0;
           &:not(:first-child) {
             margin-top: $base;
           }
         }
       }
     }
    }
    @include breakpoint(tablet) {
      .main-navigation {
        flex-direction: column;
      }
      .nav,
      .socials,
      .btn--primary {
        margin-top: $base * 4;
        margin-left: 0;
      }
      
    }
    .copyright {
      color: #aeb8d0;
      margin-left: $base * 24;
      margin-top: $base * 7;
      font-family: $quicksand;
      font-weight: $fw-medium;
      font-size: $fs-xs;
      @include breakpoint(tablet) {
        & {
          margin-left: 0;
          text-align: center;
        }
      }
    }
  }
}
