@import "../vars";
@import "../mixins";

.section-outer {
  &.section-header,
  &.section-footer {
    position: relative;
    .section-inner {
      // padding-top: $padding-vertical-xs;
      // padding-bottom: $padding-vertical-xs;
    }
    .btn-burger {
      display: none;
      margin-left: auto;
      &__line {
        display: block;
        width: $base * 4;
        height: $base / 2;
        background-color: $color-grey-100;
        &:not(:first-child) {
          margin-top: $base;
        }
      }
      @include breakpoint(tablet) {
        display: block;
      }
    }
    .logo {
      display: inline-block;
      background-color: #5e81fe;
      border-radius: 50%;
      width: $base * 6;
      height: $base * 6;
      min-width: $base * 6;
      min-height: $base * 6;
    }
    // .nav {}
    .main-navigation {
      display: flex;
      align-items: center;
      &__inner-wrap {
        flex-grow: 1;
        display: flex;
        align-items: center;
        margin-left: $base * 18;
      }
      @include breakpoint(tablet) {
      }
    }
    .btn--primary {
      margin-left: $base * 11;
    }
    .nav-wrapper {
      // margin: 0;
      // padding: 0;
      // list-style: none;
      display: flex;
      &__item {
        &:not(:first-child) {
          margin-left: $base * 10;
        }
        &-link {
          font-family: $quicksand;
          font-style: $fs-xs;
          color: $color-primary;
          text-decoration: none;
          font-weight: $fw-medium;
          transition: all $transition;
          &:hover {
            color: $color-secondary;
          }
          &--active {
            font-weight: $fw-bold;
            color: $color-secondary;
          }
        }
      }
    }
  }
  &.section-header {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    z-index: 10;
    background-color: #fff;
    &::before {
      content: "";
      position: absolute;
      top: 100%;
      left: 0;
      width: 100vw;
      height: 100vh;
      background-color: rgba(0, 0, 0, 0.5);
      display: none;
    }

    .main-navigation {
      &__inner-wrap {
        @include breakpoint(tablet) {
          position: absolute;
          z-index: 10;
          top: 100%;
          left: 0;
          right: 0;
          margin-left: 0;
          background-color: #fff;
          padding: $base * 5;
          padding-top: 0;
          flex-direction: column;
          display: none;
          .nav,
          .socials,
          .btn--primary {
            margin-top: $base * 4;
            margin-left: 0;
          }
        }
        @media (max-width: 540px) {
          .nav-wrapper {
            flex-direction: column;
            align-items: center;
            &__item {
              margin: 0;
              &:not(:first-child) {
                margin-top: $base;
              }
            }
          }
        }
        @include breakpoint(mobile) {
          // .nav-wrapper {
          //   flex-direction: column;
          //   align-items: center;
          //   &__item {
          //     margin: 0;
          //   }
          // }
        }
      }
    }
    &--active-nav {
      &::before {
        display: block;
      }
      .main-navigation__inner-wrap {
        display: flex;
      }
    }
  }
}
