@import "../functions";
@import "../vars";
@import "../mixins";

.home-page {
  .section-hero-image {
    background-color: #f4f7ff;
    position: relative;
    padding: 0 0;
    .slider-hero-image {
      margin: 0;
      padding: 0;
      height: $base * 140;
      overflow: hidden;
      background-repeat: no-repeat;
      background: 
      // url('./../images/uploads/one of stats.png') no-repeat 34.4% 84.5%,
        no-repeat 0 90% / 100% url("./../images/uploads/chart.png"),
        no-repeat center / cover url("./../images/uploads/clouds.png");
      list-style: none;

      &__item {
        height: $base * 140;
        background-size: cover;
        background-position: 50% 50%;
        text-align: center;
        &--content {
          // h5,
          // h2 {
          //   // color: #3d4f9f;
          // }
          h2 {
            font-weight: $fw-light;
            span {
              font-weight: $fw-medium;
            }
          }
          .text {
            line-height: 2;
            width: 60%;
            margin: 0 auto $base * 5;
          }
        }
      }
      .btn-icon-play-wrapper {
        a {
          display: inline-flex;
        }
        .icon-play {
          display: flex;
          align-items: center;
          justify-content: center;
          width: $base * 13;
          height: $base * 13;
          border-radius: 50%;
          background-color: #fff;
          box-shadow: 0px $base * 2 $base * 12 rgba(201, 209, 231, 0.6);
          svg {
            display: block;
            margin-left: $base;
            width: 10px;
            height: 11px;
            path {
              fill: #5e81ff;
            }
          }

          // &::before {
          //   content: "";
          //   display: block;
          //   width: 0;
          //   margin-left: $base * 4;
          //   height: 0;
          //   border-width: $base * 2 $base * 3;
          //   border-style: solid;
          //   border-color: transparent;
          //   border-left-color: #5e81ff;
          // }
        }
      }
    }
    .dots {
      position: absolute;
      bottom: $base * 7;
      left: 50%;
      transform: translateX(-50%);
    }
  }
  .section-customers {
    .section-inner {
      display: flex;
      justify-content: space-between;
      align-items: center;
      a {
        &:hover svg path {
          transition: all $transition;
          fill: #5e81ff;
        }
      }
      @include breakpoint(mobile) {
        flex-wrap: wrap;
        justify-content: center;
        a {
          flex-basis: 45%;
          text-align: center;
          margin-top: $base * 3;
          margin-bottom: $base * 3;
        }
      }
    }
  }
  .section-plan-and-manage {
    background-color: #f5f8ff;
    overflow: hidden;
    position: relative;
    &__content {
      width: 60%;
      .aside-image {
        position: absolute;
        top: 0;
        left: 50%;
        width: 50vw;
      }
      // h5,
      // h3 {
      //   // color: #3d4f9f;
      // }
      h5 {
        margin-bottom: $base * 7;
      }
      h3 {
        font-weight: $fw-light;
        margin-bottom: $base * 7;
        span {
          font-weight: $fw-medium;
        }
      }
      .text {
        line-height: 2;
        margin-bottom: $base * 12;
      }
      @include breakpoint(tablet) {
        width: 50%;
      }
      @include breakpoint(mobile) {
        width: 100%;
        .aside-image {
          position: static;
          display: block;
          margin: 0 auto;
        }
      }
    }
  }
  .section-features {
    background-image: url("./../images/features/clouds.png");
    background-repeat: no-repeat;
    background-position: 50% 50%;
    h4 {
      font-weight: $fw-medium;
    }
    h5,
    h4 {
      color: #3d4f9f;
    }
    .features-list {
      display: flex;
      margin-bottom: $base * 25;
      // justify-content: space-around;

      &__item {
        $margin-left: $base * 10;
        $devider-width: $base * 7;
        flex-basis: 25%;
        position: relative;
        &:not(:first-child) {
          margin-left: $margin-left;
          &::before {
            content: "";
            height: 1px;
            width: $devider-width;
            position: absolute;
            top: 45%;
            left: -$devider-width - ($margin-left - $devider-width) / 2;
            // left: -34px;
            background-color: #dae4fe;
          }
        }

        .icon {
          height: $base * 17;
          margin-bottom: $base * 8;
        }
        .title {
          font-weight: $fw-bold;
          font-size: $fs-s;
          color: #4074f8;
          margin-bottom: $base * 7;
        }
        .text {
          line-height: 2;
          // max-width: 174px;
        }
      }
      @include breakpoint(tablet) {
        margin-bottom: $base * 15;
      }
      @include breakpoint(mobile) {
        flex-wrap: wrap;
        justify-content: space-between;
        margin-bottom: $base * 5;
        &__item {
          flex-basis: 45%;
          margin-bottom: $base * 10;
          .icon {
            margin-bottom: $base * 4;
          }
          .title {
            margin-bottom: $base * 3;
          }
          &:not(:first-child) {
            margin-left: 0;
            &::before {
              display: none;
            }
          }
        }
      }
    }
    .btns {
      display: inline-flex;
      align-items: center;
    }
    .or-block {
      display: inline-flex;
      font-weight: $fw-medium;
      font-size: $fs-xs;
      align-items: center;
      margin: 0 $base * 4;
      &::before,
      &::after {
        content: "";
        display: block;
        width: $base * 4;
        height: 1px;
        background-color: #dae4fe;
      }
      &::before {
        margin-right: $base * 4;
      }
      &::after {
        margin-left: $base * 4;
      }
    }
  }
  .section-stats {
    background-color: #e9efff;
    display: flex;
    padding: 0 0;
    &__left,
    &__right {
      display: flex;
      flex-direction: column;
      flex-basis: 50%;
      padding: $base * 16 $base * 22;
    }
    &__left {
      background-color: #6888ff;
      text-align: right;
      color: #fff;
      align-items: flex-end;
      .number {
        color: #fff;
      }
    }
    &__right {
      background-color: linear-gradient(
        101.48deg,
        #e9efff 41.56%,
        #e0e9ff 81.53%
      );
      color: #5e80ff;
      .number {
        color: #5e80ff;
      }
    }
    .icon {
      margin-bottom: $base * 6;
    }
    .number,
    .text {
      font-family: $quicksand;
    }
    .number {
      font-size: $fs-xxl;
      line-height: 1;
    }
    .text {
      font-size: $fs-m;
      line-height: 1.5;
      font-weight: $fw-medium;
      max-width: 250px;
    }
    @include breakpoint(mobile) {
      &__left,
      &__right {
        padding: $base * 8 $base * 10;
      }
      .number {
        font-size: $fs-xl;
      }
      .text {
        font-size: $fs-s;
      }
    }
    @include breakpoint(smMobile) {
      &__left,
      &__right {
        padding: $base * 8 $base * 7;
      }
    }
  }
  .section-blog {
    background-color: #f5f8ff;
    text-align: center;
    h4 {
      font-weight: $fw-medium;
    }
    .slider-wrapper {
      margin-bottom: $base * 25;
      position: relative;
      @include breakpoint(tablet) {
        margin-bottom: $base * 15;
      }
    }
    .slider-blog {
      text-align: left;
      border: 1px solid #d8e3fe;
      box-sizing: border-box;
      background-color: #fff;
      box-shadow: 0px $base * 4 $base * 12 #eff4ff;
      // margin-bottom: $base * 25;

      &__item {
        padding: $base * 16 $base * 8;
        display: flex;
        justify-content: space-between;
        .gallery {
          display: grid;
          width: 100%;
          grid-template-columns: repeat(3, $base * 30);
          grid-template-rows: repeat(2, $base * 30);
          grid-gap: $base * 4;

          .image-link {
            display: block;
            background-color: red;
            border-radius: 10px;
            position: relative;
            overflow: hidden;
            box-shadow: 0 $base * 4 $base * 25 #e5ebf8;
            &::after {
              content: "";
              opacity: 0;
              transition: all $transition;
              position: absolute;
              top: 50%;
              left: 50%;
              transform: translate(-50%, -50%);
              display: block;
              height: $base * 16;
              width: $base * 16;
              border-radius: 50%;
              background: #fff url(".././images/blog/loupe.svg") no-repeat 50%
                50%;
            }
            &:hover::after {
              opacity: 1;
            }

            img {
              width: 100%;
              height: 100%;
              object-fit: cover;
              object-position: center;
            }
            &::before {
              content: "";
              position: absolute;
              left: 0;
              top: 0;
              bottom: 0;
              right: 0;
              background: linear-gradient(transparent, transparent);
              opacity: 0.7;
            }
            &--big {
              grid-row: 1/3;
              grid-column: 1 / 3;
              &::before {
                background: linear-gradient(transparent, #ffc735);
              }
            }
            &--sm-1 {
              grid-row: 1 / 2;
              grid-column: 3 / 4;
              &::before {
                background: linear-gradient(transparent, #ff2424);
              }
            }
            &--sm-2 {
              grid-row: 2/3;
              grid-column: 3 / 4;
              &::before {
                background: linear-gradient(transparent, #35aaff);
              }
            }
            @include breakpoint(mobile) {
              &--big {
                grid-row: 1/2;
                grid-column: 1 / 2;
              }
              &--sm-1 {
                grid-row: 1 / 2;
                grid-column: 2 / 3;
              }
              &--sm-2 {
                grid-row: 1/2;
                grid-column: 3 / 4;
              }
            }
          }
          @include breakpoint(mobile) {
            grid-template-rows: repeat(1, $base * 25);
            grid-template-columns: repeat(3, $base * 25);
            grid-gap: $base * 2;
          }
          @include breakpoint(smMobile) {
            grid-template-rows: repeat(1, 1fr);
            grid-template-columns: repeat(3, 1fr);
            grid-gap: $base * 2;
          }
        }
        .content {
          flex-grow: 1;
          margin-left: $base * 5;
          .title {
            color: #3d4f9f;
          }
          .text {
            font-size: $fs-s;
            line-height: 2;
            margin-bottom: $base * 10;
          }
        }
        @include breakpoint(mobile) {
          flex-direction: column;
          padding: $base * 6;
          .content {
            position: relative;
            z-index: 5;
            margin-top: $base * 6;
            margin-left: 0;
            h3 {
              margin-bottom: $base * 3;
            }
          }
        }
      }
    }
    .btn-blog {
      position: absolute;
      top: 50%;
      display: block;
      width: $base * 10;
      transform: translateY(-50%);
      height: $base * 10;
      background: url(".././images/blog/Vector.svg") no-repeat 50% 50%;
      &--prev {
        right: 100%;
        margin-right: $base * 16;
      }
      &--next {
        left: 100%;
        margin-left: $base * 16;
        transform: translate(-50%) rotate(180deg);
      }
      @include breakpoint(laptop) {
        display: none;
      }
    }
  }
  .section-quotes {
    background: linear-gradient(180deg, #eaf0ff 0%, #f6f9ff 100%);

    .section-inner {
      display: flex;
      justify-content: space-between;
      // h3,
      // h5 {
      //   // color: #3d4f9f;
      // }
      h3 {
        font-weight: $fw-medium;
        margin-bottom: $base * 4;
      }
      h5 {
        margin-top: $base * 6;
        margin-bottom: $base * 8;
      }
    }
    &__left,
    &__right {
      flex-basis: 45%;
    }

    &__left {
      .text {
        line-height: 2;
        font-size: $fs-xs;
        max-width: 323px;
      }
    }
    &__right {
      .slider-quotes {
        margin-bottom: $base * 20;
        &__item {
          border: 1px solid #d8e3fe;
          background-color: #fff;
          padding: $base * 10 $base * 17 $base * 15;
          position: relative;
          box-shadow: 0 $base $base * 12 #f3f5fa;
          .item__text {
            font-size: $fs-s;
            line-height: 2;
            color: #676f95;
          }
          .item__photo {
            $height: $base * 15;
            width: $base * 15;
            height: $base * 15;
            overflow: hidden;
            border-radius: 50%;
            background-color: #fff;
            position: absolute;
            top: 100%;
            left: 50%;
            transform: translate(-50%, -$height/2);
          }
        }
      }
    }
    @include breakpoint(mobile) {
      .section-inner {
        flex-direction: column;
      }
      &__left {
        margin-bottom: $base * 10;
      }
    }
  }
  .section-faq {
    h4 {
      font-weight: $fw-medium;
    }
    .faq-accordion {
      &__item {
        $parent: &;
        border-bottom: 1px solid #d8e3fe;
        // &--active {
        //   .icon {
        //     transform: rotate(180deg);
        //     path {
        //       stroke: #495274;
        //     }
        //   }
        // }
        &-trigger,
        &-content {
          display: flex;
          align-items: center;
        }
        &-trigger {
          padding: $base * 4 $base * 4;
          cursor: pointer;
          .icon {
            transition: all $transition;
            width: $base * 4;
            margin-right: $base * 4;
            text-align: center;
            transform: rotate(0);
            path {
              // stroke: #495274;
              stroke: #8e96b7;
            }
          }
          .text {
            font-size: $fs-s;
          }
        }
        &-content {
          padding: 0 $base * 4 $base * 4 $base * 12;
          display: none;
          .text {
            flex-grow: 1;
            line-height: 2;
            font-size: $fs-xs;
          }
          .btn {
            white-space: nowrap;
            margin-left: $base * 15;
          }
          @include breakpoint(mobile) {
            flex-direction: column;
            .btn {
              margin: 0;
            }
            .button {
              width: 100%;
            }
            .text {
              margin-bottom: $base * 3;
            }
          }
        }
        &--active {
          // #{$parent}-trigger {
          //   .text {
          //     color: #495274;
          //   }
          // }
          .faq-accordion__item-trigger {
            .icon {
              transition: all $transition;
            }
            .text {
              color: $color-primary;
              font-weight: $fw-bold;
            }
          }
          // #{$parent}-content {
          //   display: flex;
          // }
          .faq-accordion__item-content {
            display: flex;
          }
          .icon {
            transform: rotate(180deg);
            path {
              stroke: $color-primary;
            }
          }
        }
      }
    }
  }
  .section-get-started {
    color: #fff;
    position: relative;
    background: linear-gradient(#6888ff, #5e80ff);
    &::before {
      position: absolute;
      content: "";
      top: 0;
      right: 0;
      z-index: 5;
      bottom: 0;
      left: 0;
      background: url(".././images/get-started/clouds.svg") no-repeat 50% 50%;
    }
    .section-inner {
      position: relative;
      z-index: 10;
    }
    h5,
    h2 {
      color: #fff;
      span {
        font-weight: $fw-medium;
      }
    }
    h2 {
      font-weight: $fw-light;
    }
    .text {
      line-height: 2;
      max-width: 712px;
      margin: 0 auto $base * 10;
    }
    .btn-group {
      .btn:last-child {
        border-left: none;
      }
    }
  }
  .section-news-letter {
    background-color: #fcfdff;
    .section-inner {
      display: flex;
      justify-content: space-between;
      @include breakpoint(tablet) {
        flex-direction: column;
      }
    }
    &__left {
      flex-basis: 35%;
      .title {
        font-family: $quicksand;
        font-size: $fs-m;
        color: #3d4f9f;
        margin-bottom: $base * 4;
        font-weight: $fw-bold;
      }
      .text {
        line-height: 2;
        font-size: $fs-s;
      }
      @include breakpoint(tablet) {
        margin-bottom: $base * 5;
      }
    }
    &__right {
      flex-basis: 55%;
      .form-newsletter {
        display: flex;
        label {
          display: flex;
          flex-grow: 1;
        }
        .input {
          flex-grow: 1;
        }
        .btn {
          margin-left: $base * 3;
          @include breakpoint(smMobile) {
            padding: $base * 5 $base * 8;
          }
          @include breakpoint(xsMobile) {
            padding: $base * 5 $base * 4;
          }
        }
      }
    }
  }
}
