/*-------------------------
  COMMON COMPONENTS    
-------------------------*/
body {
  // color: $black;
  font-family: poppins, sans-serif;
}

a,
a:hover {
  // color: inherit;
  text-decoration: none;
}
.visually-hidden {
  opacity: 0;
}
ul,
ol {
  list-style: none;
  padding: 0;
  margin: 0;
}
.input {
  padding: $base * 3 $base * 4;
  font-family: $quicksand;
  border: 1px solid transparent;
  background-color: #efeff7;
  border-radius: $base / 2;
  color: #7a85ad;
  font-weight: $fw-bold;
  font-size: $fs-xs;
  &--size-lg {
    border-radius: 5px;
    padding: $base * 5 $base * 6;
  }
}
.btn-group {
  display: inline-flex;
  .btn:nth-child(1) {
    border-top-right-radius: 0;
    border-bottom-right-radius: 0;
  }
  .btn:nth-child(2) {
    border-top-left-radius: 0;
    border-bottom-left-radius: 0;
  }
}
.btn {
  margin: 0;
  padding: $base * 3 $base * 4;
  font-family: $quicksand;
  font-weight: $fw-bold;
  font-size: $fs-xs;
  border-radius: $base / 2;
  border: 1px solid transparent;
  background-color: none;
  text-decoration: none;
  transition: all $transition;
  box-sizing: border-box;
  display: inline-block;
  cursor: pointer;
  svg {
    margin-left: 6px;
  }
  &--primary {
    background-color: #d2e1ff;
    color: #3a79ff;
    &:hover {
      background-color: darken(#d2e1ff, 5%);
    }
  }
  &--danger {
    background-color: #ffd7d7;
    color: #d43f3f;
    &:hover {
      background-color: darken(#ffd7d7, 5%);
    }
  }
  &--secondary {
    background-color: #4c85ff;
    color: #fff;
    &:hover {
      background-color: darken(#4c85ff, 5%);
    }
    &-inverted {
      background-color: #fff;
      color: #565f82;
      &:hover {
        background-color: darken(#fff, 5%);
      }
    }
  }
  &--no-bg {
    // background-color: #f5f8ff;
    background-color: transparent;
    border: 1px solid #d1d1e4;
    color: #adb4d2;
    &:hover {
      color: darken(#adb4d2, 10%);
      border: 1px solid darken(#d1d1e4, 10%);
    }
    &-inverted {
      background-color: transparent;
      border-color: #a0b4ff;
      color: #c7d3ff;
      &:hover {
        color: lighten(#c7d3ff, 10%);
        border-color: lighten(#a0b4ff, 5%);
      }
    }
  }
  &--grayscale {
    background-color: #e8ecf4;
    color: #7382a3;
    &:hover {
      color: darken(#7382a3, 10%);
      background-color: darken(#e8ecf4, 5%);
    }
  }
  &--size-lg {
    border-radius: 5px;
    padding: $base * 5 $base * 15;
  }
}

.section-outer {
  padding: 0 $base * 5;
  border-bottom: 1px solid $color-devider;
}
.section-inner {
  max-width: 900px;
  margin: 0 auto;
  // padding-top: $padding-vertical;
  // padding-bottom: $padding-vertical;
  &--wide {
    max-width: 1200px;
  }
}

.vertical-indent {
  &--s {
    @include vertical-indent($base * 5);
  }
  &--m {
    @include vertical-indent($base * 15);
  }
  &--l {
    @include vertical-indent($base * 30);
  }
  @include breakpoint(tablet) {
    &--m {
      @include vertical-indent($base * 10);
    }
    &--l {
      @include vertical-indent($base * 20);
    }
  }
  @include breakpoint(smMobile) {
    &--m {
      @include vertical-indent($base * 5);
    }
    &--l {
      @include vertical-indent($base * 10);
    }
  }
}

// vertical-indent vertical-indent--l

.main-navigation {
  display: flex;
  align-items: center;
}
.socials {
  margin-left: auto;
  &-wrapper {
    margin: 0;
    padding: 0;
    list-style: none;
    display: flex;
    align-items: center;
    &__item {
      &:not(:first-child) {
        margin-left: $base * 9;
      }
      &-link {
        path {
          fill: #b6bac7;
          transition: all $transition;
        }
        &:hover svg path {
          fill: $color-secondary;
        }
      }
    }
  }
}
// Texts

p {
  padding: 0;
  margin: 0;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  margin: 0;
  padding: 0;
  font-weight: $fw-regular;
  font-family: $quicksand;
}

h1,
h2 {
  font-size: 48px;
  margin-bottom: $base * 7;
  color: #3d4f9f;
}

h3 {
  margin-bottom: $base * 7;
  font-size: $fs-xl;
  color: #3d4f9f;
}

h4 {
  margin-bottom: $base * 20;
  font-size: $fs-l;
  color: #3d4f9f;
}

h5 {
  font-size: $fs-xxs;
  font-family: $roboto;
  margin-bottom: $base * 4;
  text-transform: uppercase;
  color: #3d4f9f;
}

.dots {
  margin: 0;
  padding: 0;
  list-style: none;
  justify-content: center;
  display: flex;
  &__item {
    width: $base * 2;
    height: $base * 2;
    border-radius: 50%;
    background-color: #d1d6e3;
    transition: all $transition;
    cursor: pointer;
    &--active {
      background-color: #5283ff;
    }
    &:not(:first-child) {
      margin-left: $base * 3;
    }
  }
}

.text-fw-600 {
  font-weight: 600;
}
.text-center {
  text-align: center;
}
