/* 
Example:
Lato 
*/
//   @font-face {
//     font-display: swap;
//     font-family: 'Lato';
//     font-style: normal;
//     font-weight: 500;
//     src: url('../fonts/Lato/LatoLatin-Medium.eot') format('eot'),
//       url('../fonts/Lato/LatoLatin-Medium.eot?#iefix') format('embedded-opentype'),
//       url('../fonts/Lato/LatoLatin-Medium.woff') format('woff'),
//       url('../fonts/Lato/LatoLatin-Medium.woff2') format('woff2'),
//       url('../fonts/Lato/LatoLatin-Medium.ttf') format('truetype');
//   }
//   @font-face {
//     font-display: swap;
//     font-family: 'Lato';
//     font-style: normal;
//     font-weight: 700;
//     src: url('../fonts/Lato/LatoLatin-Bold.eot') format('eot'),
//       url('../fonts/Lato/LatoLatin-Bold.eot?#iefix') format('embedded-opentype'),
//       url('../fonts/Lato/LatoLatin-Bold.woff') format('woff'),
//       url('../fonts/Lato/LatoLatin-Bold.woff2') format('woff2'),
//       url('../fonts/Lato/LatoLatin-Bold.ttf') format('truetype');
//   }
//   @font-face {
//     font-display: swap;
//     font-family: 'Lato';
//     font-style: normal;
//     font-weight: 900;
//     src: url('../fonts/Lato/LatoLatin-Heavy.eot') format('eot'),
//       url('../fonts/Lato/LatoLatin-Heavy.eot?#iefix') format('embedded-opentype'),
//       url('../fonts/Lato/LatoLatin-Heavy.woff') format('woff'),
//       url('../fonts/Lato/LatoLatin-Heavy.woff2') format('woff2'),
//       url('../fonts/Lato/LatoLatin-Heavy.ttf') format('truetype');
//   }
  

//   @font-face {
//     font-family: 'Proxima Nova Extra Bold';
//     src: url('../fonts/ProximaNova-Extrabld.eot');
//     src: url('../fonts/ProximaNova-Extrabld.eot?#iefix') format('embedded-opentype'),
//     url('../fonts/ProximaNova-Extrabld.woff') format('woff'),
//     url('../fonts/ProximaNova-Extrabld.ttf') format('truetype');
//     font-weight: normal;
//     font-style: normal;
// }

// @font-face {
//     font-family: 'Proxima Nova Regular';
//     src: url('../fonts/ProximaNova-Regular.eot');
//     src: url('../fonts/ProximaNova-Regular.eot?#iefix') format('embedded-opentype'),
//     url('../fonts/ProximaNova-Regular.woff') format('woff'),
//     url('../fonts/ProximaNova-Regular.ttf') format('truetype');
//     font-weight: normal;
//     font-style: normal;
// }

// @font-face {
// 	font-family: 'Proxima Nova Bold';
// 	src: url('../fonts/proxima_nova_bold.eot'); /* IE 9 Compatibility Mode */
// 	src: url('../fonts/proxima_nova_bold.eot?#iefix') format('embedded-opentype'), /* IE < 9 */
// 		url('../fonts/proxima_nova_bold.woff2') format('woff2'), /* Super Modern Browsers */
// 		url('../fonts/proxima_nova_bold.woff') format('woff'), /* Firefox >= 3.6, any other modern browser */
// 		url('../fonts/proxima_nova_bold.ttf') format('truetype'), /* Safari, Android, iOS */
// 		url('../fonts/proxima_nova_bold.svg#proxima_nova_bold') format('svg'); /* Chrome < 4, Legacy iOS */
// }

// @font-face {
// 	font-family: 'Proxima Nova Semibold';
// 	src: url('../fonts/proxima_nova_semibold.eot'); /* IE 9 Compatibility Mode */
// 	src: url('../fonts/proxima_nova_semibold.eot?#iefix') format('embedded-opentype'), /* IE < 9 */
// 		url('../fonts/proxima_nova_semibold.woff2') format('woff2'), /* Super Modern Browsers */
// 		url('../fonts/proxima_nova_semibold.woff') format('woff'), /* Firefox >= 3.6, any other modern browser */
// 		url('../fonts/proxima_nova_semibold.ttf') format('truetype'), /* Safari, Android, iOS */
// 		url('../fonts/proxima_nova_semibold.svg#proxima_nova_semibold') format('svg'); /* Chrome < 4, Legacy iOS */
// }

@import url('https://fonts.googleapis.com/css2?family=Quicksand:wght@300;400;500;700&family=Roboto:wght@400;500;700&display=swap');