@mixin breakpoint($point) {
  @if $point == xsMobile {
    @media only screen and (max-width: 374.98px) {
      @content;
    }
  }
  @if $point == smMobile {
    @media only screen and (max-width: 575.98px) {
      @content;
    }
  }
  @if $point==mobile {
    @media only screen and (max-width: 767.98px) {
      @content;
    }
  }
  @if $point==tablet {
    @media only screen and (max-width: 991.98px) {
      @content;
    }
  }
  @if $point==laptop {
    @media only screen and (max-width: 1200px) {
      @content;
    }
  }
}

// @mixin c-benefit-list {
//   h4 {
//     line-height: 1.75;
//     font-weight: 600;
//     margin-bottom: 20px;
//     font-family: $font-proximaSB;
//   }
//   .benefit {
//     display: flex;
//     align-items: flex-start;
//     margin-bottom: 15px;
//     img {
//       margin-right: 15px;
//     }
//     .c-text-16 {
//       color: #62687c;
//       line-height: 1.63;
//     }
//     @include breakpoint(mobile) {
//       .c-text-16 {
//         font-size: 14px;
//       }
//     }
//   }
// }

@mixin vertical-indent($size) {
  padding-top: $size;
  padding-bottom: $size;
}
