@import 'functions';
/* Colors */
$dark-blue: #07093c;

/* Fonts */
$quicksand: "Quicksand", sans-serif;
$roboto: "Roboto", sans-serif;

$base: rem(4px);
$fw-light: 100;
$fw-regular: 400;
$fw-medium: 500;
$fw-bold: 700;

$fs-xxl: rem(48px);
$fs-xl: rem(36px);
$fs-l: rem(24px);
$fs-m: rem(18px);
$fs-s: rem(15px);
$fs-xs: rem(12px);
$fs-xxs: rem(10px);

$padding-vertical: $base * 30;
$padding-vertical-sm: $base * 15;
$padding-vertical-xs: $base * 5;

$transition: 0.2s;

$color-devider: #d8e3fe;
$color-grey-100: #c7d3ff;

$color-primary: #495274;
$color-secondary: #6188ff;
