@import 'vars';
@import 'mixins';
@import 'fonts';
@import 'libs';
@import 'common';
@import 'components';
@import 'functions';

/*-------------------------
  COMMON COMPONENTS    
-------------------------*/
body {
  color: #8d96bd;
  font-family: $roboto;
  padding-top: $base * 20;
}


html {
  scroll-behavior: smooth;
  // @include breakpoint(laptop) {
  //   font-size: 14px;
  // }
  // @include breakpoint(tablet) {
  //   font-size: 12px;
  // }
  // @include breakpoint(mobile) {
  //   font-size: 10px;
  // }
}


/* ---------------------------------------------
  SECTION STYLES
--------------------------------------------- */

/* ---------------------------------------------
  LIBS STYLES
--------------------------------------------- */
// @media (min-width: 1200px) {
//   .container {
//     max-width: 1280px;
//   }
// }

// Always at the end
@import 'media';
